.container-login{
    width: 50vw;
    height: 60vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 20vh;
    border: black 2px solid;
    border-radius: 5px;
}

.form-component-login{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    text-align: center;
    width: 60%;
    margin: 10vh auto 0px auto;
    padding: 40px;
}

.description-login{
    background-color: rgb(79, 107, 220);
    font-size: 40px;
    padding: 40px;
    width: 60%;
}

.btn{
    margin-top: 10vh;
    font-weight: bolder;
    width: 100%;
}

.btn:hover{
    cursor: pointer;
}

#email{
    padding: 3px;
    font-size: larger;
}

#password{
    padding: 3px;
    font-size: larger;
}