.container-login{
    width: 50vw;
    height: 65vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 20vh;
    border: black 2px solid;
    border-radius: 5px;
}

.form-component-login{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    text-align: center;
    width: 60%;
    margin: 10vh auto 0px auto;
    padding: 40px;
}

.description-login{
    background-color: rgb(79, 107, 220);
    font-size: 30px;
    padding: 40px;
    width: 60%;
}

.btn{
    margin-top: 10vh;
    font-weight: bolder;
    width: 100%;
}

.btn:hover{
    cursor: pointer;
}

#email{
    padding: 3px;
    font-size: larger;
}

#password{
    padding: 3px;
    font-size: larger;
}

@media screen and (max-width:1024px){
    .container-login{
        width: 70vw;
    }
}

@media screen and (max-width:650px){
    .container-login{
        width: 80vw;
    }
    .description-login{
        font-size: 25px;
    }
}

@media screen and (max-width:500px){
    .container-login{
        width: 98vw;
        min-width: 440px;
    }
    .description-login{
        font-size: 28px;
    }
    #email{
        font-size: xx-small;
    }
    #password{
        font-size: larger;
    }
}