.wrapper{
    width: 50%;
}
.container{
    margin-top: 5px;
    width: 90%;
    height: 60vh;
    background-color: aliceblue;
    border-radius: 50px;
    padding: 20px;
}

@media screen and (max-width:780px) {
    .wrapper{
        width: 80%;
        margin: 20px auto 0px auto;
    }
}

@media screen and (max-width:650px) {
    .wrapper{
        width: 95%;
        margin: 20px auto 0px auto;
    }

    .container{
        width: 96%;
        margin: auto;
    }
}
