.Task-Item-Wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5px;
    justify-content: space-between;
    /* align-items: center; */
}

.delete-btn{
    padding: 5px;
    background-color: red;
    border: 0px;
    font-weight: bolder;
    letter-spacing: 0.5px;
}

.shift-btn{
    padding: 5px;
    flex-grow: 1;
    margin-left:10px ;
    background-color: blue;
    border: 0px;
    font-weight:bolder;
    letter-spacing: 0.5px;
}

.description-content{
    /* max-width: 17vw; */
    text-align: left;
    flex-grow: 1;
    height: fit-content;
    word-wrap: break-word;
}

.description-content2{
    /* max-width: 23vw; */
    height: fit-content;
    word-wrap: break-word;
    text-align: left;
}

.edit-btn{
    padding: 5px;
    margin-left:10px ;
    background-color: rgb(170, 2, 203);
    border: 0px;
    font-weight:bolder;
    letter-spacing: 0.5px;
}

@media screen and (min-width: 1024px) {
  .description-content,.description-content2{
    font-size: 30px;
  }
}

@media screen and (min-width: 900px) and (max-width: 1024px)  {
  .description-content,.description-content2{
    font-size: 23px;
  }
}

@media screen and (max-width:550px) {
  .delete-btn,.shift-btn,.edit-btn{
    font-size: 8px;
  }

}